:root{
    /*Son valores de variables de colores que se usarán posteriormente*/
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;


}

body{
    
    line-height: 1.5;
    font-size:16px;
}

*{
    /*Se resetean los margenes y el relleno*/
    margin:0;
    padding:0;
    outline:none;
    text-decoration:none;
    box-sizing:border-box;

}

ul{
    list-style:none;
}

.main-container a{
    text-decoration: none!important;
}
a:link, a:visited, a:active{
    text-decoration: none!important;
}

.navbar a{
    text-decoration:none!important;
}
a:hover{
    cursor:pointer;
}

 .main-content .home-section a:hover{
    cursor: pointer;
    color: white;
}

::before,::after{
    box-sizing:border-box;
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.p-76{
    width:var(--percent-76);
}
.p-86{
    width:var(--percent-86)
}
.p-60{
   width:var(--percent-60)
}

.navegation-toggler{
    /*
    height: 40px;
    width: 45px;
    
    cursor: pointer;
    position:fixed;
    left: 300px;
    top: 20px;
    
    display:flex;
    display:none;
    */
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    background: var(--bg-black-100);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration:none;
    text-decoration-line:none;
}

/*Este código dibuja la rayita central del toggle button*/
.navegation-toggler span{
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    display:inline-block;
    position:relative;
}

/*Este código dibuja la rayita superior del toggle button*/
.navegation-toggler span::before{
    content:'';
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    position:absolute;
    top:-6px;
    left:0;
}

/*Este código dibuja la rayita inferior del toggle button*/
.navegation-toggler span::after{
    content:'';
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    position:absolute;
    bottom:-6px;
    right:0;
}

.home-section,
.service-section,
.project-section,
.contact-section,
.tecnologies-section,
.education-section,
.login-section,
.hs-skills-section,
.laboral-section{
    background:var(--bg-black-900);
    min-height: 100vh;
    display:block;
    padding: 0 30px;
    /*
    top:0;
    right: 0;
    z-index:0;
    position:fixed;
    left:270px;
    */
    left:270px;
    opacity:1;

}

#img-banner{
    z-index: 20;
}
.shinobi{
    display:none!important;
}

.eureka{
    visibility: visible!important;
}
/*.main-content{
    padding-left:270px;
}*/

.padd-15{
    padding-left:15px;
    padding-right: 15px;
}
.own-container{
    max-width:1000px;
    width:100%;
    /*background:red;*/
    margin:auto;
    
}

/*---Inicia El Código Para Darle Forma Al Texto Que se Muestra En Cada Sección---*/
.about-section .own-container,
.service-section .own-container,
.project-section .own-container,
.contact-section .own-container,
.tecnologies-section .own-container,
.education-section .own-container,
.login-section .own-container,
.hs-skills-section .own-container,
.laboral-section .own-container
{
    padding-top:60px;
    padding-bottom:70px;
}

.about-section .title,
.service-section .service-title,
.project-section .project-title,
.contact-section .contact-title,
.tecnologies-section .tecnologies-title,
.home-section .home-title,
.education-section .education-title,
.login-section .login-title,
.hs-skills-section .hs-skills-title,
.laboral-section .laboral-title{
    flex: 0 0 100%;
    max-width:100%;
    margin-bottom: 60px;
    /*background-color:red;*/
}

.about-section .title h2,
.service-section .service-title h2,
.project-section .project-title h2,
.contact-section .contact-title h2,
.tecnologies-section .tecnologies-title h2,
.home-section .home-title h2,
.education-section .education-title h2,
.login-section .login-title h2,
.hs-skills-section .hs-skills-title h2,
.laboral-section .laboral-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position:relative;
}

/*Grafico la primera raya debajo del texto cabecera de cada sección*/
.about-section .title h2::before,
.service-section .service-title h2::before,
.project-section .project-title h2::before,
.contact-section .contact-title h2::before,
.tecnologies-section .tecnologies-title h2::before,
.home-section .home-title h2::before,
.education-section .education-title h2::before,
.login-section .login-title h2::before,
.hs-skills-section .hs-skills-title h2::before,
.laboral-section .laboral-title h2::before
{
    content:'';
    height: 4px;
    width:50px;
    background-color:var(--skin-color);
    position:absolute;
    top:100%;
    left:0;

}

/*Grafico la segunda raya debajo del texto cabecera de cada sección*/
.about-section .title h2::after,
.service-section .service-title h2::after,
.project-section .project-title h2::after,
.contact-section .contact-title h2::after,
.tecnologies-section .tecnologies-title h2::after,
.home-section .home-title h2::after,
.education-section .education-title h2::after,
.login-section .login-title h2::after,
.hs-skills-section .hs-skills-title h2::after,
.laboral-section .laboral-title h2::after{
    content:'';
    height: 4px;
    width:25px;
    background-color:var(--skin-color);
    position:absolute;
    top:100%;
    left:0;
    margin-top:8px;

}

/*---Finaliza El Código Para Darle Forma Al Texto Que se Muestra En Cada Sección---*/
.own-row{
    display:flex;
    flex-wrap:wrap;
    margin-left: -15px;
    margin-right: -15px;
    position:relative;
}

.button {
    font-size:16px;
    font-weight: 500;
    padding: 12px 35px;
    color:rgb(255,255,255);
    border-radius: 40px;
    display:inline-block;
    white-space: nowrap;
    border:none;
    background: var(--skin-color);
    transition:all 0.3s ease;
}

.button-mod {
    font-size:16px;
    font-weight: 500;
    padding: 10px 10px;
    color:rgb(255,255,255);
    border-radius: 40px;
    display:inline-block;
    white-space: nowrap;
    border:none;
    background: rgb(100,255,180);
    transition:all 0.3s ease;
}

.button-delete {
    font-size:16px;
    font-weight: 500;
    padding: 10px 10px;
    color:rgb(255,255,255);
    border-radius: 40px;
    display:inline-block;
    white-space: nowrap;
    border:none;
    background: var(--skin-color);
    transition:all 0.3s ease;
}

.button-up{
    font-size:10px;
    font-weight: 500;
    padding: 5px 5px;
    color:rgb(255,255,255);
    border-radius: 40px;
    display:inline-block;
    white-space: nowrap;
    border:none;
    background: var(--skin-color);
    transition:all 0.3s ease;
}

.button-add{
    font-size:10px;
    font-weight: 500;
    padding: 5px 5px;
    color:rgb(255,255,255);
    border-radius: 40px;
    display:inline-block;
    white-space: nowrap;
    border:none;
    background: blue;
    transition:all 0.3s ease;
}
.button-mod:hover,
.button-delete:hover,
.button-add:hover
{
    transform:scale(1.2);
}

.button:hover
{
    transform:scale(1.05);
}
.button-up{
    transform:scale(1.3);
}

/*Estilo para la barra lateral*/
.aside{
    width:270px;
    background:var(--bg-black-100);
    /*position:fixed;
    left:0;
    top:0;
    z-index:10;*/
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    padding:2%;
    /*display:flex;*/
    justify-content: center;
    align-items: center;

}

ul{
    list-style:none;
}

.logo{
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    
}

.logo div{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 25px;
    font-size:30px;
    letter-spacing: 5px;
    color:gold;
    position:relative;
}

.logo div span{
    color:blue;
    /*colocarle un font family*/
    font-family: 20px;
}

.logo div::before{
    /*Todo este código sirve para crear la pequeña L roja en el borde izquierdo del logo*/
    content:'';
    position:absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left:0;
}

.logo div::after{
    /*Todo este código sirve para crear la pequeña L roja en el borde derecho del logo*/
    content:'';
    position:absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:0;
    right:0;
}


/*Este código dibuja la rayita inferior del toggle button*/
.aside .navegation-toggler span::after{
    content:'';
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    position:absolute;
    bottom:-6px;
    right:0;
}
*/
.navegation{
    margin-top:50px;
}

.navegation li{
    margin-bottom:20px;
    display:block
}

.navegation li a {
    font-size:16px;
    font-weight: 600;
    display:block;
    border-bottom: 1px solid var(--bg-black-50);
    color:var(--text-black-900);
    padding: 5px 15px;
    text-decoration:none;
    text-decoration-style: none;
    text-decoration-line:none;
}

.navegation li a.active{
    color: var(--skin-color);
    text-decoration:none;
}

.navegation li a i{
    margin-right: 15px;
    text-decoration:none;
}

/*home*/
/*home*/
.home-section{
    min-height: 100vh;
    display:flex;
    /*color:var(--bg-black-900)*/
    color:var(--text-black-900);
}

/*Este código junto con el de .home-section y .home-section .home-img permite que la imagen quede a 
al lado derecho de su contenedor y el texto quede en el lado izquierdo.
Creo que la clave está en el display:flex de .home-section porque, posteriormente, se le da un valor de 
porcentaje a los flex en .homw-section .home-info y .home-section .home-img*/
.home-section .home-info{
    flex: 0 0 60%;
    max-width: 50%;
}

h3.hello{
    font-size:28px;
    margin:15px 0;
}

h3.hello span{
    /*Colocarle un font-family*/
    font-size:30px;
    font-weight: 700px;
    color:var(--skin-color);
}

h3.my-profession{
    font-size:30px;
    
}

.typing{
    color:var(--skin-color);
}

.home-info p{
    margin-bottom:70px;
    font-size:20px;
    color:var(--text-black-700);
}

.home-section .home-img{
    flex:0 0 40%;
    max-width: 40%;
    /*background:red;*/
    text-align: center;
    position:relative;
}

/*
.home-img::after{
    content:'';
    position:absolute;
    height: 80px;
    width:80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right:-270px;
    top:270px;
}

.home-img::before{
    content:'';
    position:absolute;
    height: 80px;
    width:80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 0;
    bottom:0;
}
*/
.home-section .home-img img{
    height: 300px;
    margin:auto;
    border-radius:5px;
}

/*Acerca De*/
.about-section{
    background-color:var(--bg-black-900);
}
.about-section .about-content{
    flex: 0 0 100%;
    max-width: 100%;
   
    /*background-color:red;*/
}

.about-section .about-content .about-text{
    flex:0 0 100%;
    max-width:100%;
    /*background-color:red;*/
}

.about-section .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about-section .about-content .about-text h3 span{
   color: var(--skin-color);
}

.about-section .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
 }

 .about-section .about-content .personal-info{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top:40px;
    
 }

 .about-section .about-content .personal-info .info-item{
    flex: 0 0 100%;
    max-width: 100%;
        
 }

 .about-section .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
 }

 .about-section .about-content .personal-info .info-item p span{
    font-weight: 400;
    color:var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
 }

 .about-section .about-content .personal-info .own-buttons{
   margin-top:30px;

 }

 .about-section .about-content .personal-info .button{
    margin-right:15px;
    margin-top:10px;
    
  }

.tecnologies-section .skills{
    
    margin-top:40px;
   
 }

 .tecnologies-section .skills .skill-item{
    
    /*background-color:red;*/
   margin-bottom: 30px;
   
 }

.tecnologies-section .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size:16px;
    color:var(--text-black-900);
    text-transform: capitalize;
   
 }

.tecnologies-section .skills .skill-item .progress{
    
    background-color:var(--bg-black-50);
    height: 7px;
    border-radius:4px;
    width:100%;
    position:relative;
   
 }

 .tecnologies-section .skills .skill-item .progress .progress-in{
    
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    border-radius:4px;
    background-color: var(--skin-color);
 }

.tecnologies-section .skills .skill-item .skill-percent{
    
    position:absolute;
    right:0;
    top:-40px;
    font-weight: 400;
    line-height: 40px;
    color: var(--text-black-900);
 }

 .education-section .education-content,
 .about-section .about-content .experience-content{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top:30px;
    margin:auto;
 }

 .about-section .about-content h3.title{
    font-size:24px;
    margin-bottom:30px;
    font-weight: 700;
    color:var(--text-black-900);

 }

 .education-section  .timeline-box
 .project-section .timeline-box,
 .hs-skills-section .timeline-box,
 .laboral-section .timeline-box{
    flex: 0 0 100%;
    max-width:100%;
    
 }

 .education-section .timeline-box,
 .project-section .timeline-box,
 .hs-skills-section .timeline-box,
 .laboral-section .timeline-box{
    background-color:var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius:10px;
    width:100%;
    position:relative;
    
 }
 
 
 .education-section .timeline .timeline-item,
 .hs-skills-section .timeline .timeline-item,
 .laboral-section .timeline .timeline-item{
    position:relative;
    padding-left:30px;
    padding-bottom:50px;
 }

 .education-section .timeline .timeline-item:last-child,
 .hs-skills-section .timeline .timeline-item:last-child,
 .laboral-section .timeline .timeline-item:last-child{
    padding-bottom:0;
 }

 .education-section  .timeline .timeline-item::before,
 .hs-skills-section  .timeline .timeline-item::before,
 .laboral-section  .timeline .timeline-item::before{
    content:'';
    width:1px;
    height: 100%;
    position:absolute;
    left:7px;
    top:0;
    background-color:var(--skin-color);
 }

 .education-section .timeline .circle-dot,
 .hs-skills-section .timeline .circle-dot,
 .laboral-section .timeline .circle-dot
 {
    position:absolute;
    left:0;
    top:0;
    height: 15px;
    width:15px;
    border-radius:50%;
    background-color:var(--skin-color);

 }

 .education-section .timeline .timeline-date,
 .hs-skills-section .timeline .timeline-date,
 .laboral-section .timeline .timeline-date{
    font-weight: 400;
    font-size:14px;
    margin-bottom:12px;
    color: var(--text-black-900);
 }

 .education-section .timeline .timeline-date .fa,
 .hs-skills-section .timeline .timeline-date .fa,
 .laboral-section .timeline .timeline-date .fa{
    margin-right: 5px;
 }

 .education-section .timeline .timeline-title,
 .hs-skills-section .timeline .timeline-title,
 .laboral-section .timeline .timeline-title{
    font-weight: 700;
    font-size:18px;
    margin-bottom:15px;
    text-transform: capitalize;
    color:var(--text-black-900);

 }

 .education-section .timeline .timeline-text,
 .hs-skills-section .timeline .timeline-text,
 .laboral-section .timeline .timeline-text{
    line-height: 25px;
    font-size:16px;
    text-align:justify;
    color:var(--text-black-700);
 }

 .education-section .timeline-box .timeline .card .img,
 .hs-skills-section .timeline-box .timeline .card .img,
 .laboral-section .timeline-box .timeline .card .img{
    width:500px;
    height:400px;
 }

 /*servicios*/

 .hs-skills-section .own-container{
    padding-bottom: 40px;
 }
 .hs-skills-section .hs-skills-item{
    margin-bottom:30px;
 }

 .hs-skills-section .hs-skills-item .hs-skills-item-inner{
    background-color:var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
 }

 .hs-skills-section .hs-skills-item .hs-skills-item-inner:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
 }

 /*Aquí inicia el diseño de los íconos dentro de las tarjetas de los serviceos*/
 .hs-skills-section .hs-skills-item .hs-skills-item-inner .hs-skills-icon{
    height: 60px;
    width: 60px;
    border-radius:50%;
    display:block;
    margin: 0 auto 30px;
    text-align:center;
    transition: all 0.3s ease;
 }

 .hs-skills-section .hs-skills-item .hs-skills-item-inner .hs-skills-icon .fa{
    font-size:40px;
    line-height: 60px;
    color:var(--skin-color);
    transition: all 0.3s ease;
    
 }


 .hs-skills-section .hs-skills-item .hs-skills-item-inner:hover .hs-skills-icon{
     background:var(--skin-color);
    
 }

 .hs-skills-section .hs-skills-item .hs-skills-item-inner:hover .hs-skills-icon .fa{
    font-size:25px;
    color:rgb(255,255,255);
    
 }
 /*Aquí finaliza el diseño de los íconos dentro de las tarjetas de los serviceos*/

 .hs-skills-section .hs-skills-item .hs-skills-item-inner h4{
    font-size:18px;
    margin-bottom:15px;
    color:var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
 }

 .hs-skills-section .hs-skills-item .hs-skills-item-inner p{
    font-size:16px;
    color:var(--text-black-700);
    line-height: 25px;
 }

 /*laboral*/

 /*Projectos*/
 .project-section .own-container{
    padding-bottom:40px;
 }
 .project-section .project-heading{
    flex: 0 0 100%;
    max-width:100%;

 }

 .project-section .project-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
 }

 .project-section .project-item{
    flex:0 0 50%;
    max-width:50%;
    margin-bottom: 30px;
 }

 .project-section .project-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
 }

 .project-section .project-item-inner .project-img img{
    width:100%;
    display:block;
 }

 
 /*Contacto*/
 .contact-header{
    color:var(--skin-color);
    text-align:center;
    font-size: 25px;
    margin-bottom:20px;
 }

 .contact-epigraph{
    color:var(--text-black-900);
    text-align:center;
    font-size: 15px;
    margin-bottom:60px;
 }

 .contact-section .contact-info-item{
    /*flex:0 0 25%;
    max-width: 25%;*/
    text-align:center;
    margin-bottom:60px;
 }

 .contact-section .contact-info-item .contact-icon{
    display:inline-block;
 }

 .contact-section .contact-info-item .contact-icon .fa{
    font-size:25px;
    color:var(--skin-color);
 }

 .contact-section .contact-info-item h4{
    font-size:18px;
    font-weight: 700;
    color:var(--text-black-900);
    text-transform:capitalize;
    margin: 15px 0 5x;
 }
 
 .contact-section .contact-info-item p{
    font-size:16px;
    line-height: 25px;
    color:var(--text-black-700);
    font-weight: 400;
 }

 .contact-section .own-contact-form,
 .login-section .own-contact-form{
    flex: 0 0 100%;
    max-width: 100%;

 }

 .contact-section .own-contact-form .own-col-6,
 .login-section .own-contact-form .own-col-6
 {
    flex:0 0 50%;
    max-width: 50%;
 }

 .contact-section .own-contact-form .own-col-12,
 .login-section .form.own-contact-form .row .own-col-12
 {
    flex:0 0 100%;
    max-width: 100%;
    
 }
 
 .login-section .own-contact-form .own-col-75
 {
    flex:0 0 75%;
    max-width: 75%;
    margin:auto;
    
 }
 .contact-section .own-contact-form .form-item,
 .login-section .own-contact-form .form-item{
    margin-bottom:30px;
 }

 .contact-section .own-contact-form .form-item .own-form-control,
 .login-section .own-contact-form .form-item .own-form-control{
    width:100%;
    height:50px;
    border-radius:25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size:16px;
    color:var(--text-black-700);
    transition: all 0.3s ease;
 }

 .contact-section .own-contact-form .form-item .own-form-control:focus,
 .login-section .own-contact-form .form-item .own-form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
 }

 .contact-section .own-contact-form .form-item textarea.own-form-control,
 .login-section .own-contact-form .form-item textarea.own-form-control{
    height:140px;
 }

 .contact-section .own-contact-form .button,
 .contact-section .own-contact-form .button
 {
    height:50px;
    padding:0 50px;
    margin:auto;
 }
/*
 @media (max-width:1999px){
    aside{
        left:-270px;

    }

    .main-content{
        padding:0;
    }
 }*/

 /*Código para la barra lateral*/
 /*Estilo para la barra lateral*/
.aside{
    width:270px;
    background:var(--bg-black-100);
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    padding:2%;
    display:flex;
    justify-content: center;
    align-items: center;

}

ul{
    list-style:none;
}

.aside .logo{
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    position:absolute;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 25px;
    font-size:30px;
    letter-spacing: 5px;
    color:gold;
    position:relative;
}

.aside .logo a span{
    color:blue;
    /*colocarle un font family*/
    font-family: 20px;
}

.aside .logo a::before{
    /*Todo este código sirve para crear la pequeña L roja en el borde izquierdo del logo*/
    content:'';
    position:absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left:0;
}

.aside .logo a::after{
    /*Todo este código sirve para crear la pequeña L roja en el borde derecho del logo*/
    content:'';
    position:absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:0;
    right:0;
}

.aside .navegation-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position:fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    /*display:flex;*/
    display:none;
    align-items: center;
    justify-content: center;
}

/*Este código dibuja la rayita central del toggle button*/
.aside .navegation-toggler span{
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    display:inline-block;
    position:relative;
}

/*Este código dibuja la rayita superior del toggle button*/
.aside .navegation-toggler span::before{
    content:'';
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    position:absolute;
    top:-6px;
    left:0;
}

/*Este código dibuja la rayita inferior del toggle button*/
.aside .navegation-toggler span::after{
    content:'';
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    position:absolute;
    bottom:-6px;
    right:0;
}

.aside .navegation{
    margin-top:50px;
}

.aside .navegation li{
    margin-bottom:20px;
    display:block
}

.aside .navegation li a {
    font-size:16px;
    font-weight: 600;
    display:block;
    border-bottom: 1px solid var(--bg-black-50);
    color:var(--text-black-900);
    padding: 5px 15px;
}

.aside .navegation li a.active{
    color: var(--skin-color);
}

.aside .navegation li a i{
    margin-right: 15px;
}

/*barra lateral de bootstrap*/
